<div class="container-fluid text-white text-center">
    <div class="row justify-content-center">
        <h2>Bootstrap is Responsive</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row">
                <h5>Vertical scrolling has become a popular and lasting trend in Web design.</h5>
            </div>
            <div class="row justify-content-between">
                <div class="col-6 text-left">
                    <p>Some brand-tacular designs even have home page content 
                        that is taller that 12,000 pixels. That's a lotta content.
                    </p>
                </div>
                <div class="col-6 text-right">
                    <p>Anyhoo, this is just some random blurb of text, and Bootply.com
                        is a playground and code editor for Bootstrap.
                    </p>
                </div>
            </div>
        </div>
    </div> 
    <div class="row justify-content-center">
        <img src="assets/img_mtnpeople.png" class="rounded">
    </div>
</div>
