<div class="container-fluid text-white text-center">
    <div class="row justify-content-center ">
        <h1 class="display-4">Sectionalize.</h1>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <h5>Robust</h5>
            </div>
            <div class="row justify-content-center">
                <p>There is other content and snippets
                    of details or features that can be
                    placed here..</p>
            </div>
            <div class="row justify-content-center">
                <fa-icon [icon]="faCog" size="4x"></fa-icon>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row justify-content-center">
                <h5>Simple</h5>
            </div>
            <div class="row justify-content-center">
                <p>You may also want to create content
                    that compells users to scroll down
                    more..</p>
            </div>
            <div class="row justify-content-center " >
                <fa-icon [icon]="faUserAlt" size="4x"></fa-icon>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="row justify-content-center">
                <h5>Clean</h5>
            </div>
            <div class="row justify-content-center">
                <p>In the first 30 seconds of a user's
                    visit to your site they decide if they're
                    going to stay..</p>
            </div>
            <div class="row justify-content-center">
                <fa-icon [icon]="faMobileAlt" size="4x"></fa-icon>
            </div>
        </div>
    </div>
</div>
